<header class="navbar custom-navbar justify-content-center">
    <figure>
        <h2> <i class="fa-solid fa-desktop"></i> <span>Jean Franco</span></h2>
    </figure>
    <nav class="navbar-nav d-flex flex-row">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/experiencia">Experiencias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/formacion">Formacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/proyecto">Proyectos</a>
        </li>
      </ul>
    </nav>
  </header>

  
 <section class="detalle">
        <div class="detalle-content">
          <figure>
            <img src="https://img.freepik.com/vector-gratis/hacker-que-opera-ilustracion-icono-historieta-ordenador-portatil-concepto-icono-tecnologia-aislado-estilo-dibujos-animados-plana_138676-2387.jpg?semt=ais_hybrid&w=740" alt="Foto de usuario" />
          </figure>
      
          <div class="detalle-texto">
            @for (item of usuarios; track $index) {
              <h1>Hola soy, {{ item.nombre }}</h1>
              <p>{{ item.description }}</p>
              <p>{{ item.email }}</p>
              <a [href]="item.github" target="_blank"><i class="fa-brands fa-github"></i></a>
            }
          </div>
        </div>
  </section>

  <section class="sobremi">
    <div class="sobremi-content">
      <h2>Sobre mi</h2>
      <p>En 3 meses de bootcamp, adquirí habilidades clave en desarrollo web, dominando tecnologías como HTML, CSS, JavaScript, Angular, Bootstrap, Node.js y MySQL. Aprendí a crear interfaces de usuario interactivas y responsivas, y a desarrollar aplicaciones full-stack, trabajando tanto en el front-end como en el back-end. Durante el bootcamp, también gané experiencia en la gestión de bases de datos y en la implementación de funcionalidades dinámicas, lo que me permitió crear proyectos completos y funcionales.</p>
    </div>
  </section>

  <section class="experiencias">
  <div class="experiencias-content">
    <h2>Experiencias</h2>
      @for (item of experiencia; track $index) {
        <div class="experiencia-item">
          <h4>{{ item.empresa }}</h4>
          <p><strong>Puesto:</strong> {{ item.puesto }}</p>
          <p><strong>Inicio:</strong> {{ item.fechaInicio }}</p>
          <p><strong>Fin:</strong> {{ item.fechaFin }}</p>
        </div>
      }
  </div>
</section>

<article class="tecnologias">
    <h2>Tecnologías</h2>
    <div class="tecnologias-content">
      <img src="/images/HTMLL.png" alt="">
      <img src="/images/CSSS.png" alt="">
      <img src="/images/JavaScript-logo.png" alt="">
      <img src="/images/angular_icon_gradient.png" alt="">
      <img src="/images/image.png" alt="">
      <img src="/images/node-js.png" alt="">
      <img src="/images/MySQL_textlogo.svg.png" alt="">
    </div>
  </article> 