.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.navbar {
	padding: 20px 0;

	h2 {
		color: white;
		font-size: 30px;
		font-weight: 700;
		font-family: "Courier New", Courier, monospace;
	}

	i {
		color: rgba(0, 212, 255, 1);
		margin: 0 10px;
		font-size: 30px;
	}
}

.navbar .navbar-nav {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.navbar .nav-item {
	list-style: none;
}

.navbar .nav-link {
	color: white;
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	transition: color 0.3s ease;
	margin: 0 20px;
}

.navbar .nav-link:hover {
	color: #1abc9c;
}

/*detalle */
.detalle {
	padding: 80px 20px;
	margin-top: 60px;
	text-align: center;
}

.detalle-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin: 0 150px;
}

.detalle-content img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	object-fit: cover;
}

.detalle-texto {
	max-width: 700px;
	margin-top: 20px;
	font-family: "Arial", sans-serif;
	padding: 0 15px;
	margin-left: 100px;
}

.detalle-texto h1 {
	font-size: 40px;
	font-weight: 700;
	color: white;
	margin-bottom: 15px;
}

.detalle-texto p {
	font-size: 18px;
	color: white;
	line-height: 1.7;
	margin-bottom: 20px;
	font-weight: 400;
}

.detalle-texto a {
	font-size: 20px;
	color: rgba(0, 212, 255, 1);
	text-decoration: none;
	font-weight: 500;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: all 0.3s ease;
}

.detalle-texto a:hover {
	color: rgba(9, 9, 121, 1);
	transform: translateY(-5px);
}

.detalle-texto i {
	font-size: 30px;
}

/*Sobre mí */
.sobremi {
	padding: 80px 30px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.sobremi-content {
	max-width: 900px;
	padding: 0 15px;
	padding-left: 25px;
}

.sobremi-content h2 {
	font-size: 36px;
	font-weight: 700;
	color: white;
	margin-bottom: 25px;
	position: relative;
	font-family: "Courier New", Courier, monospace;
}

.sobremi-content p {
	font-size: 18px;
	line-height: 1.8;
	color: white;
	font-weight: 400;
	text-align: justify;
	text-wrap: balance;
}

/* experiencia */
.experiencias {
	padding: 80px 20px;
	display: flex;
	justify-content: center;
}

.experiencias-content {
	max-width: 900px;
	width: 100%;
	padding: 0 15px;
}

.experiencias-content h2 {
	font-size: 36px;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-bottom: 40px;
	position: relative;
	font-family: "Courier New", Courier, monospace;
}

.experiencia-item {
	padding-left: 20px;
	margin-bottom: 40px;
	padding-bottom: 15px;
}

.experiencia-item h4 {
	font-size: 22px;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}

.experiencia-item p {
	font-size: 17px;
	color: white;
	line-height: 1.6;
	margin: 5px 0;
}

.experiencia-item p strong {
	color: white;
}

.tecnologias {
	padding: 80px 20px;
	text-align: center;
}

.tecnologias h2 {
	font-size: 36px;
	font-weight: 700;
	color: white;
	margin-bottom: 40px;
	font-family: "Courier New", Courier, monospace;
}

.tecnologias-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.tecnologias-content .img-fluid {
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 15px;
	border-radius: 16px;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
	background: rgba(9, 9, 121, 1);
	transition: 0.3s;
}

.tecnologias-content .img-fluid:hover {
	transform: translateY(-8px) scale(1.05);
}

.formacion {
	padding: 80px 20px;
	display: flex;
	justify-content: center;
}

.formacion-content {
	max-width: 900px;
	width: 100%;
	padding: 0 15px;
}

.formacion-content h2 {
	font-size: 36px;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-bottom: 50px;
	font-family: "Courier New", Courier, monospace;
}

.formacion-item {
	padding-left: 20px;
	margin-bottom: 40px;
	padding-bottom: 15px;
	transition: 0.3s;
}

.formacion-item h3 {
	font-size: 22px;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}

.formacion-item p {
	font-size: 17px;
	color: white;
	margin: 6px 0;
	line-height: 1.6;
}

.formacion-item p strong {
	color: white;
}

.proyecto {
	padding: 80px 20px;
	text-align: center;
}

.proyecto h2 {
	font-size: 36px;
	font-weight: 700;
	color: white;
	margin-bottom: 50px;
	font-family: "Courier New", Courier, monospace;
}

.proyectos-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.proyecto-card {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 16px;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	text-align: left;
}

.proyecto-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
}

.card-img-top {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 12px;
	margin-bottom: 15px;
}

.card-title {
	font-size: 20px;
	font-weight: 600;
	color: white;
	margin-bottom: 10px;
}

.card-text {
	font-size: 16px;
	color: white;
	margin-bottom: 15px;
}

.card-link {
	font-size: 15px;
	color: white;
	text-decoration: none;
	border: 1px solid #3498db;
	padding: 8px 16px;
	border-radius: 8px;
	transition: all 0.3s ease;
	display: inline-block;
}

.card-link:hover {
	color: white;
	background-color: #3498db;
}

.footer-alt {
	border-top: 1px solid #ccc;
	padding: 25px 20px;
	font-family: "Inter", "Segoe UI", sans-serif;
	font-size: 15px;
	color: white;
}

.footer-alt-content {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footer-left p {
	margin: 0;
	font-weight: 500;
}

.footer-right a {
	margin-left: 15px;
	font-size: 18px;
	color: rgba(9, 9, 121, 1);
	transition: 0.3s;
}

.footer-right a:hover {
	color: rgba(0, 212, 255, 1);
	transform: translateY(-2px);
}

/* Table */
@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	.navbar h2 {
		font-size: 24px;
		text-align: center;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		gap: 20px;
	}

	.navbar .nav-link {
		font-size: 16px;
		width: 100%;
		text-align: center;
		padding: 12px 0;
	}

	.navbar .nav-link:hover {
		color: #1abc9c;
		transform: translateY(-3px);
	}

	.detalle-content {
		margin: 0 30px;
	}

	.detalle-content img {
		width: 200px;
		height: 200px;
	}

	.detalle-texto {
		max-width: 100%;
		margin: 10px 0;
		padding: 0 15px;
		font-size: 16px;
	}

	.detalle-texto h1 {
		font-size: 30px;
	}

	/* Sobre mí */
	.sobremi-content {
		padding-left: 15px;
	}

	.sobremi-content p {
		font-size: 16px;
		line-height: 1.6;
	}

	.experiencia-item h4 {
		font-size: 20px;
	}

	.tecnologias-content .img-fluid {
		width: 80px;
		height: 80px;
	}

	.proyectos-grid {
		flex-direction: column;
		gap: 20px;
	}

	.proyecto-card {
		width: 100%;
	}

	.card-img-top {
		height: 160px;
	}
}

/* Móviles*/
@media (max-width: 480px) {
	/* Navbar */
	.navbar h2 {
		font-size: 20px;
	}

	.navbar i {
		font-size: 18px;
	}

	.navbar-nav {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	.navbar .nav-link {
		font-size: 14px;
		width: 100%;
		text-align: center;
		padding: 10px 0;
	}

	.navbar .nav-link:hover {
		color: #1abc9c;
		transform: translateY(-2px);
	}

	.detalle-content {
		margin: 0 15px;
	}

	.detalle-content img {
		width: 180px;
		height: 180px;
	}

	.detalle-texto {
		max-width: 100%;
		padding: 0 10px;
		font-size: 14px;
	}

	.detalle-texto h1 {
		font-size: 24px;
	}

	.sobremi-content {
		padding-left: 10px;
	}

	.sobremi-content p {
		font-size: 14px;
		line-height: 1.5;
	}

	.experiencia-item h4 {
		font-size: 18px;
	}

	.tecnologias-content .img-fluid {
		width: 70px;
		height: 70px;
	}

	.proyectos-grid {
		flex-direction: column;
		gap: 15px;
	}

	.proyecto-card {
		width: 100%;
	}

	.card-img-top {
		height: 150px;
	}
}
